.pvtRowLabel {
    text-align: center !important;
    border-right: 1px solid var(--mud-palette-table-lines);
}

.pvtColumnLabel {
    text-align: center !important;
    border-right: 1px solid var(--mud-palette-table-lines);
}

.pvtColumn {
    text-align: center !important;
    border-right: 1px solid var(--mud-palette-table-lines);
}

.pvtRow {
    border-right: 1px solid var(--mud-palette-table-lines);
}

.number {
    text-align: end !important;
}